## Ordinal numbering Encoding or Label Encoding

### Ordinal categorical variables

Ordinal data is a categorical, statistical data type where the variables have natural, ordered categories and the distances between the categories is not known.

For example:

        Student's grade in an exam (A, B, C or Fail).

        Educational level, with the categories: Elementary school, High school, College graduate, PhD ranked from 1 to 4.

When the categorical variables are ordinal, the most straightforward best approach is to replace the labels by some ordinal number based on the ranks.

In [3]:
import pandas as pd
import numpy as np
import datetime

In [4]:
# create a variable with dates, and from that extract the weekday
# I create a list of dates with 20 days difference from today
# and then transform it into a datafame

df_base = datetime.datetime.today()
df_date_list = [df_base - datetime.timedelta(days=x) for x in range(0, 20)]
df = pd.DataFrame(df_date_list)
df.columns = ['day']
df

                          day
0  2021-08-28 14:46:31.373959
1  2021-08-27 14:46:31.373959
2  2021-08-26 14:46:31.373959
3  2021-08-25 14:46:31.373959
4  2021-08-24 14:46:31.373959
5  2021-08-23 14:46:31.373959
6  2021-08-22 14:46:31.373959
7  2021-08-21 14:46:31.373959
8  2021-08-20 14:46:31.373959
9  2021-08-19 14:46:31.373959
10 2021-08-18 14:46:31.373959
11 2021-08-17 14:46:31.373959
12 2021-08-16 14:46:31.373959
13 2021-08-15 14:46:31.373959
14 2021-08-14 14:46:31.373959
15 2021-08-13 14:46:31.373959
16 2021-08-12 14:46:31.373959
17 2021-08-11 14:46:31.373959
18 2021-08-10 14:46:31.373959
19 2021-08-09 14:46:31.373959

In [14]:
df['day_of_week'] = df['day'].dt.day_name()
df.head()

                         day day_of_week
0 2021-08-28 14:46:31.373959    Saturday
1 2021-08-27 14:46:31.373959      Friday
2 2021-08-26 14:46:31.373959    Thursday
3 2021-08-25 14:46:31.373959   Wednesday
4 2021-08-24 14:46:31.373959     Tuesday

In [15]:
weekday_map = {'Monday':1,
               'Tuesday':2,
               'Wednesday':3,
               'Thursday':4,
               'Friday':5,
               'Saturday':6,
               'Sunday':7
}
df['day_ordinal'] = df.day_of_week.map(weekday_map)
df.head()

                         day day_of_week  day_ordinal
0 2021-08-28 14:46:31.373959    Saturday            6
1 2021-08-27 14:46:31.373959      Friday            5
2 2021-08-26 14:46:31.373959    Thursday            4
3 2021-08-25 14:46:31.373959   Wednesday            3
4 2021-08-24 14:46:31.373959     Tuesday            2